.title {
  font-size: 125px;
  color: blue;
  text-align: center;
  text-shadow: 4px 4px #000000, -4px -4px #000000, 4px -4px #000000, -4px 4px #000000;
}

html {
  background-color: aqua;
  font-family: "Oswald", sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: transform 0.2s ease-in-out, background 0.2s;
}

.navbar a:hover {
  background: white;
  color: #5289ff;
  transform: scale(1.1);
}
footer { 
  position: bottom;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 3px;
  background-color:blue;
  color:white;


}